In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.options.display.max_rows = 100

In [56]:
review = pd.read_csv('AZ_review.csv')
business = pd.read_json('yelp_academic_dataset_business.json', lines=True)

In [57]:
# filter businesses by opened AZ restaurants
AZ = business[business.state=='AZ']
AZ = AZ[~AZ.categories.isna()] # drop the 199 nan categories
AZ = AZ[AZ.is_open==1] # remove closed businesses
AZrest = AZ[AZ.categories.str.contains('Restaurants')]
AZrest = AZrest.reset_index(drop=True)
del business, AZ

In [58]:
# filter reviews to restaurants in opened AZ restaurants
AZrest['stars_avg'] = AZrest.stars
AZrest = AZrest.drop('stars',1)
AZreview = AZrest.merge(review, on='business_id')
AZreview = AZreview[['business_id', 'cool', 'date', 'funny', 'review_id', 'stars',
       'text', 'useful', 'user_id']]
AZreview.date = pd.to_datetime(AZreview.date)
del review

In [59]:
%who

AZrest	 AZreview	 AZreview_test	 AZreview_train	 chg_75th	 chg_80th	 chg_90th	 dataset	 first
np	 open_business	 open_business_2yrs	 open_business_firstyr	 open_business_secondyr	 pd	 plt	 revCount	 rev_count_secondyr_70th
rev_count_secondyr_75th	 rev_count_secondyr_90th	 second	 stars_50th	 target

#### Thoughts
- cut off earlier years since it wouldn't help us predict future virality (2014-)
- split train (2014-2017) and test data (2018 Jan-June)
    - if we trained training data wouldn't predicting Dec 2017 and Jan 2018 give us the same answer?
        - yes it would. this is what lee meant by "this is an easy problem"
- pivot: look at first year business was open to predict how it would do the second year
    - we want to predict which ones would do well the second year 
    - the years don't matter

In [104]:
# AZreview_train = AZreview[(AZreview.date.dt.year>=2006) & (AZreview.date.dt.year<2018)]
AZreview_train = AZreview[(AZreview.date.dt.year>=2006) & (AZreview.date<'05/01/2018')]

In [105]:
AZreview_train.head(1)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,8-NRKkPY1UiFXW20WXKiXg,0,2015-09-06,0,LW6IUxib0XZoYY0wS184zA,1,A ROACH crawled out of my Carne Asada fries. I...,3,KmyTD4-ms_Qbwn4fR5mWfw

### Generating target variable

In [106]:
revCount = AZreview_train.groupby([AZreview_train.business_id, AZreview_train.date.dt.month, AZreview_train.date.dt.year]).count()[['review_id']]
revCount.index = revCount.index.set_names(['business_id', 'month', 'year'])
revCount = revCount.rename(columns={'review_id':'rev_count'})
revCount = revCount.reset_index()

# avg stars
avgStars = AZreview_train.groupby([AZreview_train.business_id, AZreview_train.date.dt.month, AZreview_train.date.dt.year]).mean()[['stars']]
avgStars.index = avgStars.index.set_names(['business_id', 'month', 'year'])
avgStars = avgStars.rename(columns={'stars':'stars_month_avg'})
avgStars = avgStars.reset_index()
revCount = revCount.merge(avgStars,on=['business_id','month','year'])
del avgStars

# sum stars
sumStars = AZreview_train.groupby([AZreview_train.business_id, AZreview_train.date.dt.month, AZreview_train.date.dt.year]).sum()[['stars']]
sumStars.index = sumStars.index.set_names(['business_id', 'month', 'year'])
sumStars = sumStars.rename(columns={'stars':'stars_sum'})
sumStars = sumStars.reset_index()
revCount = revCount.merge(sumStars,on=['business_id','month','year'])
del sumStars

# add day in order to conver to datetime
revCount['day'] = 1
revCount['date'] = pd.to_datetime(revCount[['year','month','day']])

# add count of months with reviews
activity = revCount.groupby('business_id').count()
activity= activity.rename(index=str, columns={'month':'months_with_rev'})
revCount = revCount.join(activity['months_with_rev'], on='business_id')
del activity

# add total review count by business
totalrev = revCount.groupby('business_id').sum()
totalrev = totalrev.rename(index=str, columns={'rev_count':'business_rev_count'})
revCount = revCount.join(totalrev['business_rev_count'], on='business_id')
del totalrev

# add business open date
open_date = revCount.groupby(['business_id']).min()
open_date = open_date.rename(index=str, columns={'date':'open_date'})
revCount = revCount.join(open_date['open_date'], on='business_id')
display(revCount.head(1))
del open_date

,business_id,month,year,rev_count,stars_month_avg,stars_sum,day,date,months_with_rev,business_rev_count,open_date
0,-01XupAWZEXbdNbxNg5mEg,1,2011,1,3.0,3,1,2011-01-01,54,82,2009-09-01

In [107]:
print('Total number of businesses: {}'.format(revCount.business_id.nunique()))

Total number of businesses: 7490

In [109]:
# Number of businesses by open date
revCount[revCount.date==revCount.open_date].open_date.value_counts().sort_index()

2006-01-01     61
2006-02-01     36
2006-03-01     14
2006-04-01     14
2006-05-01     13
2006-06-01     15
2006-07-01     16
2006-08-01     46
2006-09-01     37
2006-10-01     26
2006-11-01     18
2006-12-01     29
2007-01-01     57
2007-02-01     78
2007-03-01    108
2007-04-01     42
2007-05-01     41
2007-06-01     48
2007-07-01     60
2007-08-01     64
2007-09-01     33
2007-10-01     29
2007-11-01     24
2007-12-01     45
2008-01-01     55
2008-02-01     67
2008-03-01     77
2008-04-01     69
2008-05-01     62
2008-06-01     67
2008-07-01     62
2008-08-01     68
2008-09-01     52
2008-10-01     51
2008-11-01     45
2008-12-01     40
2009-01-01     66
2009-02-01     46
2009-03-01     75
2009-04-01     47
2009-05-01     47
2009-06-01     49
2009-07-01     62
2009-08-01     53
2009-09-01     46
2009-10-01     45
2009-11-01     50
2009-12-01     52
2010-01-01     46
2010-02-01     47
             ...
2014-03-01     66
2014-04-01     61
2014-05-01     61
2014-06-01     44
2014-07-01     41
2014-08-01     50
2014-09-01     56
2014-10-01     50
2014-11-01     45
2014-12-01     49
2015-01-01     61
2015-02-01     55
2015-03-01     57
2015-04-01     49
2015-05-01     46
2015-06-01     47
2015-07-01     45
2015-08-01     58
2015-09-01     53
2015-10-01     44
2015-11-01     45
2015-12-01     49
2016-01-01     56
2016-02-01     51
2016-03-01     40
2016-04-01     49
2016-05-01     50
2016-06-01     43
2016-07-01     55
2016-08-01     54
2016-09-01     57
2016-10-01     53
2016-11-01     55
2016-12-01     59
2017-01-01     53
2017-02-01     48
2017-03-01     55
2017-04-01     57
2017-05-01     55
2017-06-01     53
2017-07-01     44
2017-08-01     51
2017-09-01     52
2017-10-01     58
2017-11-01     56
2017-12-01     52
2018-01-01     48
2018-02-01     64
2018-03-01     57
2018-04-01     53
Name: open_date, Length: 148, dtype: int64

### Look at first year business opened compared to second year

In [122]:
open_business = revCount[revCount.open_date>='2007-01-01'] # makes sure that actual open date is within dataset
# does not include open date since it could be partial month
open_business_firstyr = open_business[(open_business.date>open_business.open_date) & (open_business.date<=open_business.open_date+pd.DateOffset(years=1))]
open_business_secondyr = open_business[(open_business.date>open_business.open_date+pd.DateOffset(years=1)) & (open_business.date<=open_business.open_date+pd.DateOffset(years=2))]
display(open_business_firstyr.head(1))

,business_id,month,year,rev_count,stars_month_avg,stars_sum,day,date,months_with_rev,business_rev_count,open_date
7,-01XupAWZEXbdNbxNg5mEg,2,2010,2,4.0,8,1,2010-02-01,54,82,2009-09-01

In [159]:
# join first and second year
first = open_business_firstyr[['business_id','rev_count','stars_sum']].groupby('business_id').sum()
first = first.rename(index=str, columns={'rev_count':'rev_count_firstyr', 'stars_sum':'stars_sum_firstyr'})
first['stars_firstyr_avg'] = first.stars_sum_firstyr/first.rev_count_firstyr
first = first.drop('stars_sum_firstyr',1)
second = open_business_secondyr[['business_id','rev_count','stars_sum']].groupby('business_id').sum()
second = second.rename(index=str, columns={'rev_count':'rev_count_secondyr', 'stars_sum':'stars_sum_secondyr'})
second['stars_secondyr_avg'] = second.stars_sum_secondyr/second.rev_count_secondyr
second = second.drop('stars_sum_secondyr',1)
open_business_2yrs = first.join(second)
# add change
open_business_2yrs['chg'] = open_business_2yrs.rev_count_secondyr/open_business_2yrs.rev_count_firstyr-1
open_business_2yrs.head(1)

,rev_count_firstyr,stars_firstyr_avg,rev_count_secondyr,stars_secondyr_avg,chg
business_id,,,,,
-01XupAWZEXbdNbxNg5mEg,8,3.25,6.0,3.166667,-0.25

In [162]:
# look at percentiles
display(open_business_2yrs.describe(percentiles=[.55,.6,.65,.7,.75,.8,.85,.9,.95]))
rev_count_secondyr_50th = open_business_2yrs['rev_count_secondyr'].describe(percentiles=[.70,.9,.95]).loc['50%']
rev_count_secondyr_70th = open_business_2yrs['rev_count_secondyr'].describe(percentiles=[.70,.9,.95]).loc['70%']
rev_count_secondyr_75th = open_business_2yrs['rev_count_secondyr'].describe(percentiles=[.75,.9,.95]).loc['75%']
rev_count_secondyr_90th = open_business_2yrs['rev_count_secondyr'].describe(percentiles=[.75,.9,.95]).loc['90%']
chg_50th = open_business_2yrs['chg'].describe(percentiles=[.65,.9,.95]).loc['50%']
chg_65th = open_business_2yrs['chg'].describe(percentiles=[.65,.9,.95]).loc['65%']
chg_70th = open_business_2yrs['chg'].describe(percentiles=[.70,.9,.95]).loc['70%']
chg_75th = open_business_2yrs['chg'].describe(percentiles=[.75,.9,.95]).loc['75%']
chg_90th = open_business_2yrs['chg'].describe(percentiles=[.75,.9,.95]).loc['90%']
chg_60th = open_business_2yrs['chg'].describe(percentiles=[.6,.8,.95]).loc['60%']
stars_50th = open_business_2yrs['stars_secondyr_avg'].describe(percentiles=[.75,.8,.95]).loc['50%']

,rev_count_firstyr,stars_firstyr_avg,rev_count_secondyr,stars_secondyr_avg,chg
count,5860.000000,5860.000000,4743.000000,4743.000000,4743.000000
mean,25.130887,3.580604,20.275353,3.529343,0.428285
std,44.127108,1.001987,33.520461,0.977330,1.563995
min,1.000000,1.000000,1.000000,1.000000,-0.988235
50%,6.000000,3.800000,7.000000,3.750000,0.000000
55.0%,8.000000,3.948767,9.000000,3.849082,0.000000
60%,11.000000,4.000000,11.000000,4.000000,0.125185
65%,15.000000,4.000000,14.000000,4.000000,0.287000
70%,21.000000,4.142857,18.000000,4.083333,0.500000
75%,30.000000,4.274521,23.000000,4.200000,0.672619
80%,39.000000,4.418511,29.000000,4.333333,1.000000
85%,53.000000,4.500355,40.000000,4.466667,1.111111
90%,72.000000,4.736842,53.800000,4.632048,2.000000
95%,113.000000,5.000000,80.900000,5.000000,3.000000
max,573.000000,5.000000,434.000000,5.000000,29.000000

In [163]:
# filter by business the review count greater than 75th percentile in year 2 with growth in review count greater than 75th percentile growth.
open_business_2yrs = open_business_2yrs.sort_values('chg', ascending=False)
target = open_business_2yrs[(open_business_2yrs.rev_count_secondyr >= rev_count_secondyr_70th) & 
                   (open_business_2yrs.chg >= chg_60th) & 
                   (open_business_2yrs.stars_secondyr_avg >= stars_50th)].sort_values('rev_count_firstyr', ascending=False)
target.index.values.shape

(306,)

In [164]:
target.head()

,rev_count_firstyr,stars_firstyr_avg,rev_count_secondyr,stars_secondyr_avg,chg
business_id,,,,,
Xg5qEQiB-7L6kGJ5F4K3bQ,266,4.770677,434.0,4.783410,0.631579
L2p0vO3fsS2LC6hhQo3CzA,231,4.147186,281.0,3.992883,0.216450
NgDyxaeItFSInv7J5paGLQ,223,4.264574,255.0,4.227451,0.143498
FsCujpVh9Za2Dl5MIYLCxA,207,4.497585,258.0,4.624031,0.246377
thLX_k20SPJ0KyusGTBIHw,198,4.085859,283.0,4.130742,0.429293

### Check Target Restaurants to see if it meets our criterias

In [375]:
AZrest[AZrest.business_id=='1I555FApTVfQA9QR9GyIMg']

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,state,stars_avg
4485,4437 E Southern Ave,"{'HasTV': 'False', 'Alcohol': 'none', 'Ambienc...",1I555FApTVfQA9QR9GyIMg,"Delis, Sandwiches, Salad, Restaurants",Mesa,"{'Wednesday': '10:0-15:0', 'Tuesday': '10:0-15...",1,33.391957,-111.735687,Greenfield's Deli,,85206,20,AZ,4.0

In [192]:
# Target Restaurants
AZrest[AZrest.business_id.isin(target.index)].sort_values('review_count',ascending=False)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,state,stars_avg
2751,7210 E 2nd St,"{'HappyHour': 'True', 'BestNights': '{'monday'...",3l54GTr8-E3XPbIxnF_sAA,"American (New), Burgers, Nightlife, Bars, Sand...",Scottsdale,"{'Wednesday': '11:0-22:0', 'Monday': '11:0-21:...",1,33.491503,-111.925627,Rehab Burger Therapy,,85251,1958,AZ,4.5
2766,"3000 E Ray Rd, Bldg 1","{'RestaurantsGoodForGroups': 'True', 'Caters':...",0FUtlsQrJI7LhqDPxLumEw,"Pizza, Italian, American (Traditional), Restau...",Gilbert,"{'Wednesday': '8:0-21:0', 'Monday': '8:0-21:0'...",1,33.321824,-111.726057,Joe's Farm Grill,,85296,1884,AZ,4.0
1178,4301 E University Dr,"{'RestaurantsGoodForGroups': 'True', 'Ambience...",Xg5qEQiB-7L6kGJ5F4K3bQ,"Barbeque, Restaurants",Phoenix,"{'Friday': '11:0-16:0', 'Wednesday': '11:0-16:...",1,33.421877,-111.989344,Little Miss BBQ,,85034,1746,AZ,5.0
4850,"7111 E 5th Ave, Ste E","{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",d10IxZPirVJlOSpdRZJczA,"Nightlife, Restaurants, American (New), Gastro...",Scottsdale,"{'Wednesday': '16:0-23:0', 'Monday': '16:0-23:...",1,33.498210,-111.927963,Citizen Public House,,85251,1722,AZ,4.5
5596,825 N 1st St,"{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",L2p0vO3fsS2LC6hhQo3CzA,"Breakfast & Brunch, Restaurants",Phoenix,"{'Wednesday': '6:30-14:30', 'Monday': '6:30-14...",1,33.457448,-112.072295,Matt's Big Breakfast,,85004,1698,AZ,4.0
4435,"960 W University Dr, Ste 103","{'HappyHour': 'True', 'BestNights': '{'monday'...",wl0QZqAzr1DelslQ02JGCQ,"Bars, Restaurants, Pubs, Caterers, British, Ev...",Tempe,"{'Wednesday': '11:0-0:0', 'Monday': '11:0-0:0'...",1,33.423059,-111.951843,Cornish Pasty,,85281,1585,AZ,4.5
3958,13623 N 32nd St,"{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",E4JyAzB5_2quptwtemyhYA,"Breakfast & Brunch, Burgers, Seafood, Restaura...",Phoenix,"{'Wednesday': '6:30-14:0', 'Monday': '6:30-14:...",1,33.610804,-112.012836,Original Breakfast House,,85032,1269,AZ,4.5
6851,230 N Gilbert Rd,"{'RestaurantsGoodForGroups': 'True', 'Caters':...",3N9U549Zse8UP-MwKZAjAQ,"Food, Coffee & Tea, Restaurants, Local Flavor,...",Gilbert,"{'Wednesday': '7:0-21:0', 'Monday': '7:0-21:0'...",1,33.354768,-111.789833,Liberty Market,,85234,1260,AZ,4.0
6144,"8390 E Via De Ventura, Ste F-108","{'RestaurantsGoodForGroups': 'True', 'Caters':...",Iq7NqQD-sESu3vr9iEGuTA,"Waffles, Breakfast & Brunch, Coffee & Tea, Res...",Scottsdale,"{'Wednesday': '6:30-14:30', 'Monday': '6:30-14...",1,33.554825,-111.899636,Butters Pancakes & Café,,85258,1167,AZ,4.5
6610,"721 N Arizona Ave, Ste 103","{'RestaurantsGoodForGroups': 'True', 'Caters':...",sJNcipFYElitBrtiJx0ezQ,"Food, Breweries, American (New), Burgers, Rest...",Gilbert,"{'Wednesday': '11:0-23:0', 'Monday': '11:0-23:...",1,33.362962,-111.841142,Arizona Wilderness Brewing,,85233,1137,AZ,4.0
5717,4900 E Indian School Rd,"{'RestaurantsGoodForGroups': 'True', 'Caters':...",mnwRtuVQEsIUomBchu0gwg,"American (Traditional), American (New), Brewer...",Phoenix,"{'Wednesday': '11:0-0:0', 'Monday': '11:0-0:0'...",1,33.495018,-111.975898,OHSO Brewery- Arcadia,,85018,1130,AZ,4.0
7403,"1941 W Guadalupe Rd, Ste 101","{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",ohEnmKpF7i2_ujme1p_vUQ,"British, Restaurants",Mesa,"{'Wednesday': '11:0-0:0', 'Monday': '11:0-0:0'...",1,33.362940,-111.875282,Cornish Pasty Company,,85202,1086,AZ,4.5
3603,1524 E University,"{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",e4NQLZynhSmvwl38hC4m-A,"Restaurants, Food, Mexican",Mesa,"{'Wednesday': '10:0-22:0', 'Monday': '10:0-22:...",1,33.422720,-111.798212,Backyard Taco,,85203,1082,AZ,4.5
5870,6300 N Scottsdale Rd,"{'RestaurantsGoodForGroups': 'True', 'Caters':...",fKlr9qNoV37WQJwQ826POg,"Steakhouses, Seafood, Brazilian, Restaurants",Scottsdale,"{'Wednesday': '17:0-22:0', 'Monday': '17:0-22:...",1,33.529908,-111.926438,Fogo de Chão Brazilian Steakhouse,,85253,1067,AZ,4.0
3404,"114 W Adams St, Ste C101","{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",S-oLPRdhlyL5HAknBKTUcQ,"Seafood, Restaurants, Japanese, Sushi Bars",Phoenix,"{'Wednesday': '11:0-21:0', 'Monday': '11:0-21:...",1,33.449749,-112.075331,Harumi Sushi,,85003,1024,AZ,4.5
6684,5144 N Central Ave,"{'HappyHour': 'True', 'BestNights': '{'monday'...",FogTa-wmjhVnJCoTiaxvZA,"Wine Bars, Nightlife, Italian, Bars, Restauran...",Phoenix,"{'Wednesday': '11:0-23:0', 'Monday': '11:0-23:...",1,33.512662,-112.074068,Postino Central,,85012,1002,AZ,4.5
5703,4020 N Scottsdale Rd,"{'HappyHour': 'True', 'BestNights': '{'monday'...",HCCg-rVnHQ2FI6lHs_LvUQ,"American (New), Event Planning & Services, Res...",Scottsdale,"{'Wednesday': '7:0-15:0', 'Monday': '7:0-15:0'...",1,33.494378,-111.926325,Daily Dose,,85251,925,AZ,4.0
6526,302 N Gilbert Rd,"{'HappyHour': 'True', 'BestNights': '{'monday'...",wZukjLaf1V2dLRQap_Zriw,"Italian, Wine Bars, Restaurants, Nightlife, Br...",Gilbert,"{'Wednesday': '11:0-23:0', 'Monday': '11:0-23:...",1,33.355142,-111.789959,Postino East,,85234,921,AZ,4.5
1922,4338 N Scottsdale Rd,"{'RestaurantsGoodForGroups': 'True', 'Caters':...",thLX_k20SPJ0KyusGTBIHw,"Mexican, American (New), Restaurants",Scottsdale,"{'Wednesday': '11:0-22:0', 'Monday': '11:0-22:...",1,33.499386,-111.926570,Diego Pops,,85251,907,AZ,4.0
1883,959 N Val Vista Dr,"{'RestaurantsGoodForGroups': 'True', 'Caters':...",qx6WhZ42eDKmBchZDax4dQ,"Restaurants, Food, Pizza, Italian, Desserts, S...",Gilbert,"{'Wednesday': '11:0-21:0', 'Monday': '11:0-21:...",1,33.367708,-111.755830,Casanova Brothers Pizza,,85234,874,AZ,4.5
712,9401 West Westgate Blvd,"{'HappyHour': 'True', 'BestNights': '{'monday'...",RtnTbhWYw4QjKhoTBV37OA,"American (New), Wine Bars, Cocktail Bars, Rest...",Glendale,"{'Wednesday': '11:0-0:0', 'Monday': '11:0-0:0'...",1,33.534123,-112.261268,Yard House,,85305,873,AZ,4.0
5513,5101 N 44th St,"{'HappyHour': 'True', 'BestNights': '{'monday'...",ukCTLs6T8LY1eUBXiAlmCg,"Nightlife, Restaurants, Seafood, Bars, Wine Ba...",Phoenix,"{'Wednesday': '16:0-2:0', 'Monday': '16:0-2:0'...",1,33.511471,-111.986076,Steak 44,,85018,851,AZ,4.5
6364,4801 E Cactus Rd,"{'RestaurantsGoodForGroups': 'True', 'Caters':...",xIbtbAJLWLNZcqfqF4f-Nw,"American (Traditional), Food, Beer, Wine & Spi...",Scottsdale,"{'Wednesday': '11:0-14:30', 'Monday': '16:0-21...",1,33.597340,-111.977500,Salty Sow,,85254,835,AZ,4.0
1653,9393 E Bell Rd,"{'RestaurantsGoodForGroups': 'True', 'Caters':...",6nKR80xEGHYf2UxAe_Cu_g,"American (Traditional), Gas Stations, Car Wash...",Scottsdale,"{'Wednesday': '7:0-20:0', 'Monday': '7:0-20:0'...",1,33.639370,-111.879257,The Thumb BBQ,,85260,821,AZ,4.0
1383,2613 N Scottsdale Rd,"{'RestaurantsGoodForGroups': 'False', 'Caters'...",Noi53T0PWNEN9mQRS3-Ncg,"American (New), Sandwiches, Coffee & Tea, Rest...",Scottsdale,"{'Wednesday': '6:0-16:0', 'Monday': '6:0-16:0'...",1,33.477178,-111.925945,D'Lite Healthy On The Go,,85257,812,AZ,4.5
5217,"9832 N 7th St, Ste 1","{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",8Zqh2jwtncA3N4fWEMTvZQ,"Breakfast & Brunch, Restaurants, Gluten-Free, ...",Phoenix,"{'Wednesday': '6:0-14:0', 'Monday': '6:0-14:0'...",1,33.576307,-112.065576,Scramble A Breakfast Joint,,85020,811,AZ,4.0
1837,2022 N 7th St,"{'RestaurantsGoodForGroups': 'True', 'Ambience...",S6TMBqrsi4PLRFoQFPScjQ,"Vegan, Vegetarian, Restaurants",Phoenix,"{'Wednesday': '11:0-21:0', 'Monday': '11:0-21:...",1,33.470140,-112.065474,Green New American Vegetarian,,85004,800,AZ,4.5
6355,7158 E 5th Ave,"{'RestaurantsGoodForGroups': 'True', 'Caters':...",JIETwXSEGIHMNyxZVEnNKQ,"Cafes, Juice Bars & Smoothies, Breakfast & Bru...",Scottsdale,"{'Wednesday': '7:0-22:0', 'Monday': '7:0-22:0'...",1,33.498530,-111.926375,Original ChopShop,,85251,785,AZ,4.0
3237,2603 N Central Ave,"{'HappyHour': 'True', 'BestNights': '{'monday'...",-Ht7HiGBox8lS1Y8IPjO8g,"Bars, Nightlife, Comfort Food, Breakfast & Bru...",Phoenix,"{'Wednesday': '11:0-22:0', 'Monday': '11:0-22:...",1,33.477031,-112.073616,Switch Restaurant & Bar,,85004,774,AZ,4.0
6778,"7520 S Rural Rd, Ste A12","{'RestaurantsGoodForGroups': 'True', 'Caters':...",uKKNw68mZZaa1jcyszEbyA,"Coffee & Tea, Restaurants, Breakfast & Brunch,...",Tempe,"{'Wednesday': '7:0-14:0', 'Thursday': '7:0-14:...",1,33.349711,-111.929926,Crêpe Bar,,85283,772,AZ,4.5
1360,7299 N Scottsdale Rd,"{'BYOBCorkage': 'no', 'RestaurantsGoodForGroup...",DymZ5vpm7vkSsR__-4sflw,"Restaurants, Sushi Bars, Seafood, Steakhouses,...",Scottsdale,"{'Wednesday': '16:30-22:0', 'Monday': '16:30-2...",1,33.542680,-111.925143,Roka Akor - Scottsdale,,85253,757,AZ,4.0
3513,1702 W Camelback Rd,"{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",gQMAcDm8kv8ev7x2BshMwg,"Restaurants, Vietnamese, Soup",Phoenix,"{'Wednesday': '8:30-20:30', 'Monday': '8:30-20...",1,33.510181,-112.096168,Pho Thanh,,85015,740,AZ,4.0
6773,100 E Camelback Rd,"{'RestaurantsGoodForGroups': 'True', 'Caters':...",-kIscN8I29eXMPkvyyxmRQ,"Breakfast & Brunch, Restaurants, Sandwiches",Phoenix,"{'Wednesday': '7:0-16:0', 'Monday': '7:0-16:0'...",1,33.509589,-112.071848,Zookz Sandwiches,,85012,718,AZ,4.5
6711,"2201 E Camelback Rd, Ste 106","{'HappyHour': 'True', 'BestNights': '{'monday'...",90bL34o2KEes9pUnCOm7pQ,"Bars, American (New), Venues & Event Spaces, N...",Phoenix,"{'Wednesday': '11:0-22:0', 'Monday': '11:0-22:...",1,33.508984,-112.033978,The Gladly,,85016,715,AZ,4.5
7209,699 S Mill Ave,"{'HappyHour': 'True', 'BestNights': '{'monday'...",Mul_BVwcnhqmp2h_7QFepQ,"Pizza, Restaurants, Mediterranean, Nightlife, ...",Tempe,"{'Wednesday': '11:0-22:0', 'Monday': '11:0-22:...",1,33.423585,-111.939764,La Bocca Urban Pizzeria + Wine Bar,,85281,707,AZ,4.0
4246,"225 W University Dr, Ste 101","{'WheelchairAccessible': 'True', 'WiFi': 'free...",NxjUiGBNgyDErKXnmQ3s3w,"Sandwiches, Restaurants, Coffee & Tea, Coffee ...",Tempe,"{'Wednesday': '7:0-22:0', 'Monday': '7:0-22:0'...",1,33.421413,-111.942980,Cartel Coffee Lab,,85281,690,AZ,4.0
2636,4041 N 40th St,"{'HappyHour': 'True', 'BestNights': '{'monday'...",flE7Sn2JGs0n3SAtaep6Zw,"Lounges, Bars, Pubs, American (Traditional), N...",Phoenix,"{'Wednesday': '11:0-2:0', 'Monday': '11:0-2:0'...",1,33.494489,-111.995106,The Vig,,85018,685,AZ,4.0
2449,1315 S Gilbert Rd,"{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",tV5PcOIFlB12dpcbCy78VA,"Buffets, Restaurants, Indian",Mesa,"{'Wednesday': '17:0-22:0', 'Monday': '17:0-22:...",1,33.391635,-111.787783,India Oven,,85204,673,AZ,4.5
7269,"13025 W Rancho Santa Fe Blvd, Ste B103","{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",8Vpfy_WtcVvZS8Wfz7JQJA,"Cajun/Creole, Restaurants",Avondale,"{'Wednesday': '11:0-20:0', 'Monday': '11:0-20:...",1,33.460355,-112.335500,Flavors of Louisiana,,85392,668,AZ,4.5
2599,2210 N Scottsdale Rd,"{'HappyHour': 'True', 'BestNights': '{'monday'...",FsCujpVh9Za2Dl5MIYLCxA,"Nightlife, Restaurants, Asian Fusion, Japanese...",Tempe,"{'Wednesday': '16:0-1:0', 'Monday': '16:0-1:0'...",1,33.452530,-111.926887,Zu Izakaya Asian Kitchen,,85281,660,AZ,4.5
4948,713 E Palo Verde Rd,"{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",HGvNE87fvK5PwKMZBDkTbA,"Restaurants, Latin American",Phoenix,"{'Friday': '15:0-21:0', 'Wednesday': '15:0-21:...",1,33.521715,-112.064124,Fuego Bistro,,85014,653,AZ,4.5
4820,6939 E 1st Ave,"{'HappyHour': 'False', 'BestNights': '{'monday...",PNTyiqS7R-0c1ofxOfDijQ,"Wine Bars, American (New), Restaurants, Americ...",Scottsdale,"{'Wednesday': '17:30-20:30', 'Thursday': '17:3...",1,33.494225,-111.931461,Cafe Monarch,,85251,650,AZ,4.5
1574,"8120 N Hayden Rd, Ste E-100","{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",4dCOilGYflzGzizOPKyvow,"Restaurants, American (New)",Scottsdale,"{'Wednesday': '11:0-21:0', 'Monday': '11:0-21:...",1,33.555191,-111.899037,Grassroots Kitchen & Tap,,85258,646,AZ,4.5
1499,66 S Dobson Rd,"{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",DgZ-pZUo3drzpiCDlDr9IQ,"Restaurants, Vietnamese",Mesa,"{'Wednesday': '9:0-20:0', 'Monday': '9:0-20:0'...",1,33.413350,-111.875992,unPhogettable,,85202,642,AZ,4.0
1549,4360 N Scottsdale Rd,"{'HappyHour': 'True', 'BestNights': '{'monday'...",NAPuzJcanOp91dE4GXPOow,"Breakfast & Brunch, Lounges, Bars, American (T...",Scottsdale,"{'Wednesday': '11:0-23:0', 'Monday': '11:0-22:...",1,33.499729,-111.926495,The Montauk,,85251,601,AZ,3.5
6931,930 W Broadway Rd,"{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",QuybD_bJcAB2CHcpTfREYg,"Hot Dogs, Burgers, American (Traditional), Res...",Tempe,"{'Wednesday': '10:30-19:30', 'Monday': '10:30-...",1,33.407892,-111.953919,Detroit Coney Grill,,85282,600,AZ,4.5
1642,2727 E Broadway Rd,"{'RestaurantsGoodForGroups': 'False', 'Ambienc...",NASjUYKkz6l7hQLxMf2lqg,"Thai, Restaurants",Phoenix,"{'Wednesday': '11:0-20:0', 'Monday': '11:0-20:...",1,33.406669,-112.022490,Chanpen Thai Cuisine,,85040,595,AZ,4.5
1956,"1515 W Deer Valley Rd, Ste B-102","{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",825nC-s-cQG6Hsul5Gm2cA,"Caterers, Restaurants, Barbeque, Event Plannin...",Phoenix,"{'Wednesday': '11:0-20:0', 'Monday': '11:0-20:...",1,33.683323,-112.092428,Pork On A Fork,,85027,590,AZ,4.0
6941,1720 E Camelback Rd,"{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",P2GBKrx7dJg3xeGtuU2K-A,"Specialty Food, Sushi Bars, Venues & Event Spa...",Phoenix,"{'Wednesday': '11:0-21:30', 'Monday': '11:0-21...",1,33.510168,-112.044911,Bluewater Grill,,85016,589,AZ,4.0
4247,10637 N Tatum Blvd,"{'RestaurantsGoodForGroups': 'True', 'Caters':...",m2zASwlOL2vecCKHfmGAnQ,"Restaurants, American (New), American (Traditi...",Phoenix,"{'Wednesday': '16:0-21:0', 'Monday': '16:0-21:...",1,33.584266,-111.976787,Rusconi's American Kitchen,,85028,588,AZ,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3826,"980 E Pecos Rd, Ste 5","{'HappyHour': 'True', 'BestNights': '{'monday'...",CUgRXXf5UQVqj0DudnrT5A,"Restaurants, American (Traditional), Bars, Nig...",Chandler,"{'Wednesday': '11:0-1:0', 'Monday': '11:0-0:0'...",1,33.293163,-111.824953,Hangar 9 Bar & Grill,,85225,100,AZ,4.0
1656,"8940 W Bell Rd, Ste B103","{'RestaurantsGoodForGroups': 'True', 'Ambience...",zXjA4Jms2jCAP09EO7Ghfg,"Chinese, Thai, Restaurants, Japanese",Peoria,"{'Wednesday': '11:0-21:30', 'Monday': '11:0-21...",1,33.639580,-112.251021,Wok Fire,,85382,99,AZ,4.0
6985,"2055 W Frye Rd, Ste 6","{'WheelchairAccessible': 'True', 'BusinessPark...",NKm5pBzfks9gznBXs9KqvA,"Specialty Food, Food, Juice Bars & Smoothies, ...",Chandler,"{'Wednesday': '7:0-19:0', 'Monday': '7:0-19:0'...",1,33.298017,-111.877230,Raw Organic Juice Bar,,85224,97,AZ,4.5
2754,915 N Central Ave,"{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",k_SfP93Tmlpmx-5OL1JmTg,"Ethnic Food, Seafood, Specialty Food, Asian Fu...",Phoenix,"{'Wednesday': '16:0-21:0', 'Monday': '16:0-21:...",1,33.458381,-112.073424,Adobo Dragon,,85004,95,AZ,4.0
3907,"2640 W Baseline Rd, Ste 103","{'RestaurantsGoodForGroups': 'True', 'Ambience...",fgxW2Eww2MzMHd8eWT58Ig,"Middle Eastern, Afghan, Mediterranean, Restaur...",Phoenix,"{'Wednesday': '11:0-20:0', 'Monday': '11:0-20:...",1,33.378268,-112.115683,Kabab King,,85041,95,AZ,4.0
3956,4804 E Chandler Blvd,"{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",sXoIcZlAQdQS08IqRBL0dg,"American (Traditional), Halal, Wraps, Desserts...",Phoenix,"{'Wednesday': '11:0-20:0', 'Monday': '11:0-20:...",1,33.305777,-111.979884,ZK Grill,,85048,90,AZ,4.5
3019,60 E Western Ave,"{'RestaurantsGoodForGroups': 'True', 'Caters':...",Q3SAIIFURXZu421zG17N0A,"Food, Ice Cream & Frozen Yogurt, Specialty Foo...",Avondale,"{'Wednesday': '11:0-19:0', 'Monday': '18:30-18...",1,33.435586,-112.348691,Laura's Burgers and More,,85323,89,AZ,5.0
46,37 W Baseline Rd,"{'RestaurantsGoodForGroups': 'True', 'Ambience...",ZMp18tQQTjloj0pKSdENBw,"Restaurants, Donuts, Breakfast & Brunch, Food",Tempe,"{'Wednesday': '0:0-0:0', 'Monday': '0:0-0:0', ...",1,33.377920,-111.940571,Bosa Donuts,,85283,86,AZ,4.0
4811,"2000 E Rio Salado Pkwy, Ste 1213","{'RestaurantsGoodForGroups': 'True', 'Ambience...",x60RbvQEFlvImnqzuBVk3Q,"Ice Cream & Frozen Yogurt, Food, Juice Bars & ...",Tempe,"{'Wednesday': '10:0-21:0', 'Monday': '10:0-21:...",1,33.433628,-111.901586,Nekter Juice Bar,,85281,86,AZ,4.0
110,16618 N 32nd St,"{'RestaurantsGoodForGroups': 'True', 'Ambience...",d6kfTFKpKJX93qAEPhBGAg,"Restaurants, Food Stands, Hot Dogs",Phoenix,"{'Wednesday': '18:0-23:0', 'Monday': '18:0-23:...",1,33.637837,-112.013671,Lupita's Hot Dogs,,85032,85,AZ,5.0
7520,3550 W Cactus Rd,"{'RestaurantsGoodForGroups': 'True', 'Caters':...",niqIaJy9UXu-DS7BIUvUoA,"Sandwiches, Pizza, Food, Food Delivery Service...",Phoenix,"{'Wednesday': '11:0-22:0', 'Monday': '11:0-22:...",1,33.596884,-112.135713,Pizza Divino,,85029,84,AZ,3.5
5045,701 W Deer Valley Rd,"{'RestaurantsGoodForGroups': 'True', 'Ambience...",4bfKtdnkkhq8qA21sjVXlg,"Restaurants, Caterers, Mexican, Event Planning...",Phoenix,"{'Wednesday': '6:0-16:0', 'Monday': '6:0-16:0'...",1,33.683216,-112.083836,Habanero Fresh Mexican Grill,,85027,84,AZ,4.5
3945,"950 E Baseline Rd, Ste 101","{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",ygZSfAsnlztdeWZOlJA2Ug,"Sandwiches, Italian, Pizza, Restaurants",Tempe,"{'Wednesday': '10:30-22:0', 'Monday': '10:30-2...",1,33.378956,-111.925552,Barro's Pizza,,85283,83,AZ,4.0
4233,"7120 E 6th Ave, Ste 19","{'RestaurantsGoodForGroups': 'True', 'Ambience...",WtmNaLkPsJTuDoW-kieY9w,"Desserts, Sandwiches, Ice Cream & Frozen Yogur...",Scottsdale,"{'Wednesday': '8:0-17:0', 'Monday': '8:0-17:0'...",1,33.499118,-111.927143,Super Chunk Sweets & Treats,,85251,80,AZ,4.5
4751,"53 N Val Vista Dr, Ste 101","{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",mUAEn4Ud0PN-Dv446vhfSg,"Restaurants, Food, Mexican",Gilbert,"{'Wednesday': '7:0-22:0', 'Monday': '7:0-22:0'...",1,33.351361,-111.754966,Hunberto's Mexican Food,,85234,80,AZ,4.0
3381,350 N Dysart Rd,"{'RestaurantsGoodForGroups': 'False', 'Wheelch...",hk9xmxnVl-AObpXbKTVYJg,"Tacos, Restaurants, Mexican, Seafood, Professi...",Goodyear,"{'Wednesday': '9:0-21:0', 'Monday': '9:0-21:0'...",1,33.450388,-112.341870,Mariscos Camaron Pela'o,,85338,80,AZ,3.5
4980,"2045 E Camelback Rd, Ste A16","{'RestaurantsGoodForGroups': 'True', 'Ambience...",pV0eHAVd-guPjogXLnJ_Sg,"Ice Cream & Frozen Yogurt, Restaurants, Gluten...",Phoenix,"{'Wednesday': '6:30-20:0', 'Monday': '6:30-20:...",1,33.508276,-112.037205,Nekter Juice Bar,,85016,78,AZ,4.0
1889,"5932 W Bell Rd, Ste D109","{'RestaurantsGoodForGroups': 'True', 'Caters':...",A2J7d9UxD40rVgjaKflVhw,"Mediterranean, American (New), Falafel, Restau...",Glendale,"{'Wednesday': '11:0-20:0', 'Monday': '11:0-20:...",1,33.640391,-112.187028,Al's Gyro's,,85308,78,AZ,4.5
6811,1602 E McDowell Rd,"{'RestaurantsGoodForGroups': 'True', 'Ambience...",qjO0FtFXalKSVZLVq-XewQ,"Restaurants, Mexican",Phoenix,"{'Wednesday': '7:0-1:0', 'Monday': '7:0-1:0', ...",1,33.465964,-112.047462,Taco Mich,,85006,77,AZ,3.5
5457,"7133 E Stetson Dr, Ste 4","{'HappyHour': 'True', 'RestaurantsGoodForGroup...",PuH3yrAjl8OhMdIL792eEA,"Cocktail Bars, Restaurants, Bars, American (Tr...",Scottsdale,"{'Friday': '18:0-2:0', 'Wednesday': '18:0-0:0'...",1,33.499238,-111.927468,Counter Intuitive,,85251,77,AZ,4.5
654,"3170 W Carefree Hwy, Ste 7","{'RestaurantsGoodForGroups': 'True', 'Ambience...",qjuxlHtv_woIw9zPVWri5A,"Internet Cafes, Restaurants, Coffee & Tea, Bre...",Phoenix,"{'Wednesday': '6:0-16:0', 'Monday': '6:0-16:0'...",1,33.799694,-112.128682,Daisy Mountain Coffee Roasters,,85086,76,AZ,4.0
757,6730 W Cactus Rd,"{'RestaurantsGoodForGroups': 'True', 'Caters':...",p1MZyPUMflxMARQ6I8X3Kw,"Restaurants, Mediterranean, Middle Eastern, Me...",Peoria,"{'Wednesday': '11:0-22:0', 'Monday': '11:0-22:...",1,33.596644,-112.203110,Casa De Falafel,,85381,75,AZ,5.0
4896,"222 S Mill Ave, Ste 127","{'RestaurantsGoodForGroups': 'True', 'Wheelcha...",poOnGeQlHEnWRAH9t_0KMg,"Restaurants, Pizza",Tempe,"{'Wednesday': '11:0-20:0', 'Monday': '11:0-20:...",1,33.427910,-111.940499,NYPD Pizza,,85281,74,AZ,4.5

### Build dataset with target variable for training & testing

In [165]:
dataset = open_business_firstyr
dataset = dataset.reset_index(drop=True)
dataset['target'] = 0
dataset['target'][dataset.business_id.isin(target.index)] = 1

/Users/justinmae/anaconda/envs/introds/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [166]:
dataset.head()

,business_id,month,year,rev_count,stars_month_avg,stars_sum,day,date,months_with_rev,business_rev_count,open_date,target
0,-01XupAWZEXbdNbxNg5mEg,2,2010,2,4.000000,8,1,2010-02-01,54,82,2009-09-01,0
1,-01XupAWZEXbdNbxNg5mEg,3,2010,1,3.000000,3,1,2010-03-01,54,82,2009-09-01,0
2,-01XupAWZEXbdNbxNg5mEg,8,2010,1,2.000000,2,1,2010-08-01,54,82,2009-09-01,0
3,-01XupAWZEXbdNbxNg5mEg,10,2009,3,3.333333,10,1,2009-10-01,54,82,2009-09-01,0
4,-01XupAWZEXbdNbxNg5mEg,11,2009,1,3.000000,3,1,2009-11-01,54,82,2009-09-01,0

In [167]:
# number of target businesses
dataset[dataset.date==dataset.open_date+pd.DateOffset(months=1)].target.sum()

230

In [168]:
# total number of businesses
dataset[dataset.date==dataset.open_date+pd.DateOffset(months=1)].target.count()

3010

In [169]:
# target variable percentage
dataset[dataset.date==dataset.open_date+pd.DateOffset(months=1)].target.sum() / dataset[dataset.date==dataset.open_date+pd.DateOffset(months=1)].target.count()

0.07641196013289037

### 12-03-18
- increased sample size
- use second month to 13th month, since 1st month may not be full month

#### Thoughts
- what is trend in terms of reviews / month?

In [193]:
dataset.head()

,business_id,month,year,rev_count,stars_month_avg,stars_sum,day,date,months_with_rev,business_rev_count,open_date,target
0,-01XupAWZEXbdNbxNg5mEg,2,2010,2,4.000000,8,1,2010-02-01,54,82,2009-09-01,0
1,-01XupAWZEXbdNbxNg5mEg,3,2010,1,3.000000,3,1,2010-03-01,54,82,2009-09-01,0
2,-01XupAWZEXbdNbxNg5mEg,8,2010,1,2.000000,2,1,2010-08-01,54,82,2009-09-01,0
3,-01XupAWZEXbdNbxNg5mEg,10,2009,3,3.333333,10,1,2009-10-01,54,82,2009-09-01,0
4,-01XupAWZEXbdNbxNg5mEg,11,2009,1,3.000000,3,1,2009-11-01,54,82,2009-09-01,0

In [195]:
# distribution of number of months with reviews in first year for all businesses
dataset.groupby('business_id').count().iloc[:,0].value_counts().sort_index()

1     1232
2      869
3      529
4      412
5      330
6      274
7      221
8      211
9      206
10     249
11     355
12     972
Name: month, dtype: int64

In [173]:
dataset[dataset.business_id=='-0WegMt6Cy966qlDKhu6jA'].sort_values('date')

,business_id,month,year,rev_count,stars_month_avg,stars_sum,day,date,months_with_rev,business_rev_count,open_date,target
9,-0WegMt6Cy966qlDKhu6jA,5,2013,2,3.00,6,1,2013-05-01,33,79,2013-04-01,0
10,-0WegMt6Cy966qlDKhu6jA,6,2013,4,2.25,9,1,2013-06-01,33,79,2013-04-01,0
11,-0WegMt6Cy966qlDKhu6jA,7,2013,4,2.50,10,1,2013-07-01,33,79,2013-04-01,0
12,-0WegMt6Cy966qlDKhu6jA,8,2013,1,1.00,1,1,2013-08-01,33,79,2013-04-01,0
13,-0WegMt6Cy966qlDKhu6jA,9,2013,5,2.20,11,1,2013-09-01,33,79,2013-04-01,0
14,-0WegMt6Cy966qlDKhu6jA,10,2013,1,3.00,3,1,2013-10-01,33,79,2013-04-01,0
6,-0WegMt6Cy966qlDKhu6jA,1,2014,1,1.00,1,1,2014-01-01,33,79,2013-04-01,0
7,-0WegMt6Cy966qlDKhu6jA,2,2014,1,3.00,3,1,2014-02-01,33,79,2013-04-01,0
8,-0WegMt6Cy966qlDKhu6jA,4,2014,2,2.00,4,1,2014-04-01,33,79,2013-04-01,0

In [196]:
# distribution of number of months with reviews in first year for target businesses
dataset[(dataset.target==1)].sort_values('date').groupby('business_id').count().iloc[:,0].value_counts().sort_index()

1      2
2      6
3     10
4      8
5      8
6     23
7     20
8     27
9     30
10    36
11    41
12    95
Name: month, dtype: int64

In [175]:
dataset[(dataset.target==1) & (dataset.business_id=='j0_DUr3vBXY-JP-b0bf93A')].sort_values('date') 
dataset[(dataset.target==1)].sort_values('date') 
dataset[(dataset.target==1) & (dataset.business_id=='vQq_sX0kSAUdT3yLW06q5A')].sort_values('date')

Empty DataFrame
Columns: [business_id, month, year, rev_count, stars_month_avg, stars_sum, day, date, months_with_rev, business_rev_count, open_date, target]
Index: []

In [178]:
# dataset_l3m = 
dataset[(dataset.date > dataset.open_date+pd.DateOffset(months=9)) & (dataset.business_id=='vQq_sX0kSAUdT3yLW06q5A')]
# dataset_l6m = dataset[(dataset.date>dataset.open_date+pd.DateOffset(months=6)) & (dataset.business_id=='vQq_sX0kSAUdT3yLW06q5A')]
# dataset_l9m = 
# dataset[(dataset.date>dataset.open_date+pd.DateOffset(months=3)) & (dataset.business_id=='vQq_sX0kSAUdT3yLW06q5A')]
# dataset_l12m = 
# dataset[(dataset.business_id=='vQq_sX0kSAUdT3yLW06q5A')]

,business_id,month,year,rev_count,stars_month_avg,stars_sum,day,date,months_with_rev,business_rev_count,open_date,target
30405,vQq_sX0kSAUdT3yLW06q5A,1,2014,10,4.000000,40,1,2014-01-01,64,358,2013-01-01,0
30415,vQq_sX0kSAUdT3yLW06q5A,11,2013,9,4.666667,42,1,2013-11-01,64,358,2013-01-01,0
30416,vQq_sX0kSAUdT3yLW06q5A,12,2013,5,4.600000,23,1,2013-12-01,64,358,2013-01-01,0

In [179]:
dataset_l3m = dataset[(dataset.date>dataset.open_date+pd.DateOffset(months=9))]
dataset_l6m = dataset[(dataset.date>dataset.open_date+pd.DateOffset(months=6))]
dataset_l9m = dataset[(dataset.date>dataset.open_date+pd.DateOffset(months=3))]
dataset_l12m = dataset

# create data_prepped with open_date, target
data_prepped = dataset[dataset.date==dataset.open_date+pd.DateOffset(months=1)][['business_id','open_date','target']]
data_prepped.shape

# add l12m data - num of months with rev
rev_avg_l12m = dataset_l12m.groupby('business_id').count()[['month']]
# rev_avg_l12m.index = rev_avg_l12m.index.set_names(['business_id', 'num_months_with_rev'])
rev_avg_l12m = rev_avg_l12m.rename(columns={'month':'num_months_with_rev'})
rev_avg_l12m = rev_avg_l12m.reset_index()
data_prepped = data_prepped.merge(rev_avg_l12m,on=['business_id'])
del rev_avg_l12m
data_prepped.shape

# last 12 month features
rev_avg_l12m = dataset_l12m.groupby('business_id').sum()[['rev_count', 'stars_sum']]
rev_avg_l12m = rev_avg_l12m.rename(columns={'rev_count':'rev_count_l12m', 'stars_sum':'stars_sum_l12m'})
rev_avg_l12m = rev_avg_l12m.reset_index()
data_prepped = data_prepped.merge(rev_avg_l12m,on=['business_id'])
del rev_avg_l12m
data_prepped['stars_avg_l12m'] = data_prepped.stars_sum_l12m / data_prepped.rev_count_l12m
data_prepped = data_prepped.drop('stars_sum_l12m',1)

data_prepped.shape

# last 9 month features
rev_avg_l9m = dataset_l9m.groupby('business_id').sum()[['rev_count', 'stars_sum']]
rev_avg_l9m = rev_avg_l9m.rename(columns={'rev_count':'rev_count_l9m', 'stars_sum':'stars_sum_l9m'})
rev_avg_l9m = rev_avg_l9m.reset_index()
data_prepped = data_prepped.merge(rev_avg_l9m, how='left', on=['business_id'])
del rev_avg_l9m
data_prepped['stars_avg_l9m'] = data_prepped.stars_sum_l9m / data_prepped.rev_count_l9m
data_prepped = data_prepped.drop('stars_sum_l9m',1)
# handle nulls
data_prepped['rev_count_l9m'][data_prepped.rev_count_l9m.isnull()] = 0
data_prepped['stars_avg_l9m'][data_prepped.stars_avg_l9m.isnull()] = data_prepped.stars_avg_l12m

# last 6 month features
rev_avg_l6m = dataset_l6m.groupby('business_id').sum()[['rev_count', 'stars_sum']]
rev_avg_l6m = rev_avg_l6m.rename(columns={'rev_count':'rev_count_l6m', 'stars_sum':'stars_sum_l6m'})
rev_avg_l6m = rev_avg_l6m.reset_index()
data_prepped = data_prepped.merge(rev_avg_l6m,how='left',on=['business_id'])
del rev_avg_l6m
data_prepped['stars_avg_l6m'] = data_prepped.stars_sum_l6m / data_prepped.rev_count_l6m
data_prepped = data_prepped.drop('stars_sum_l6m',1)
# handle nulls
data_prepped['rev_count_l6m'][data_prepped.rev_count_l6m.isnull()] = 0
data_prepped['stars_avg_l6m'][data_prepped.stars_avg_l6m.isnull()] = data_prepped.stars_avg_l9m


# last 3 month features
rev_avg_l3m = dataset_l3m.groupby('business_id').sum()[['rev_count', 'stars_sum']]
rev_avg_l3m = rev_avg_l3m.rename(columns={'rev_count':'rev_count_l3m', 'stars_sum':'stars_sum_l3m'})
rev_avg_l3m = rev_avg_l3m.reset_index()
data_prepped = data_prepped.merge(rev_avg_l3m,how='left',on=['business_id'])
del rev_avg_l3m
data_prepped['stars_avg_l3m'] = data_prepped.stars_sum_l3m / data_prepped.rev_count_l3m
data_prepped = data_prepped.drop('stars_sum_l3m',1)
# handle nulls
data_prepped['rev_count_l3m'][data_prepped.rev_count_l3m.isnull()] = 0
data_prepped['stars_avg_l3m'][data_prepped.stars_avg_l3m.isnull()] = data_prepped.stars_avg_l6m

data_prepped.shape

/Users/justinmae/anaconda/envs/introds/lib/python3.5/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/justinmae/anaconda/envs/introds/lib/python3.5/site-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/justinmae/anaconda/envs/introds/lib/python3.5/site-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/justinmae/anaconda/envs/introds/lib/python3.5/site-packages/ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/justinmae/anaconda/envs/introds/lib/python3.5/site-packages/ipykernel_launcher.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/justinmae/anaconda/envs/introds/lib/python3.5/site-packages/ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(3010, 12)

In [180]:
# Average review count per month
data_prepped['rev_avg_month_l12m'] = data_prepped.rev_count_l12m / 12
data_prepped['rev_avg_month_l9m'] = data_prepped.rev_count_l9m / 9
data_prepped['rev_avg_month_l6m'] = data_prepped.rev_count_l6m / 6
data_prepped['rev_avg_month_l3m'] = data_prepped.rev_count_l3m / 3
data_prepped = data_prepped.drop(['rev_count_l12m','rev_count_l9m','rev_count_l6m','rev_count_l3m'],1)
data_prepped.shape

(3010, 12)

In [181]:
data_prepped.head()

,business_id,open_date,target,num_months_with_rev,stars_avg_l12m,stars_avg_l9m,stars_avg_l6m,stars_avg_l3m,rev_avg_month_l12m,rev_avg_month_l9m,rev_avg_month_l6m,rev_avg_month_l3m
0,-01XupAWZEXbdNbxNg5mEg,2009-09-01,0,5,3.250000,3.250000,2.000000,2.000000,0.666667,0.444444,0.166667,0.333333
1,-0WegMt6Cy966qlDKhu6jA,2013-04-01,0,9,2.285714,2.090909,2.000000,2.333333,1.750000,1.222222,0.666667,1.000000
2,-1UMR00eXtwaeh59pEiDjA,2014-03-01,0,12,3.836066,4.065217,4.027778,4.187500,5.083333,5.111111,6.000000,5.333333
3,-4TMQnQJW1yd6NqGRDvAeA,2012-09-01,0,12,4.214286,4.382353,4.205128,4.095238,8.166667,7.555556,6.500000,7.000000
4,-6h3K1hj0d4DRcZNUtHDuw,2009-05-01,0,12,3.407407,3.421053,3.692308,4.000000,2.250000,2.111111,2.166667,2.333333

In [207]:
# data_prepped.to_csv('data_prepped.csv')

In [182]:
from sklearn.model_selection import train_test_split

In [198]:
X = data_prepped.drop(['open_date','business_id','target'],1)
y = data_prepped.target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [199]:
X_train.shape, X_test.shape

((2408, 9), (602, 9))

In [200]:
y_train.count(), y_train.sum(), y_train.sum()/y_train.count()

(2408, 184, 0.07641196013289037)

In [201]:
y_test.count(), y_test.sum(), y_test.sum()/y_test.count()

(602, 46, 0.07641196013289037)

In [202]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)

In [203]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [204]:
clf.score(X_test,y_test)

0.8787375415282392

In [205]:
1-y_test.sum()/y_test.count()

0.9235880398671097

In [206]:
clf.feature_importances_

array([0.02782734, 0.08882804, 0.17711075, 0.13734051, 0.08560519,
       0.17973277, 0.09061535, 0.07006262, 0.14287744])